@import "~bootstrap/scss/bootstrap.scss";

body {
  box-sizing: border-box;
  min-height: 100%;
  background: rgb(5, 107, 2);
  margin: 7rem;
}
.card {
  width: 20rem;
  height: 25rem;
  border-radius: 1rem;
  font-size: 3rem;
  cursor: pointer;
  user-select: none;
}
.value {
  font-size: 4rem;
}

.diamond,
.heart {
  color: red;
}
.spade,
.club {
  color: black;
}
